.toggleBtn {
    background: var(--gray);
    cursor: pointer;
    width: 30px;
    border: none;
    border-radius: 10px;
    height: 100%;
    position: relative;
    transition: background-color 0.1s ease, border-color 0.2s ease;
}

.toggled {
    background: var(--orange);
}

.thumb {
    height: 10px;
    position: absolute;
    transition: left 0.15s ease;
    width: 10px;
    left: calc(50% - 11px);
    top: 50%;
    transform: translateX(0);
    transform: translateY(-50%);
    background: var(--white);
    border-radius: 99px;
}

.toggleBtn.toggled .thumb {
    left: 16px;
}
