.table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}


.table thead tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.table th {
    color: var(--gray);
    text-align: left;
    padding: 33px 0;
}

.table tbody tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.table td {
    padding: 33px 0;
}

.table tbody tr:last-child {
    border-bottom: none;
}