.wrapper {
    position: relative;
    width: 100%;
}

.label {
    display: flex;
    margin-bottom: 8px;
}

.input {
    outline: none;
    background: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 226px;
    padding: 13px 16px;
    padding-right: 45px;
    border-radius: var(--border-radius);
    box-shadow: 0 1px 3px 0 var(--border);
    border: 1px solid var(--border);
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    cursor: pointer;
}

.input[data-size="small"] {
    padding: 4px 8px;
    width: 200px;
    max-width: max-content;
}

.input[data-disabled="true"] {
    cursor: not-allowed;
    background: var(--background);
    color: var(--text-disabled);
}

.input[data-open="true"] {
    border: 1px solid var(--primary);
}

.input[data-error='true'] {
    border: 1px solid var(--error);
    color: var(--error);
}

.arrow {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.list {
    z-index: 2;
    width: 100%;
    margin-top: 8px;
    padding: 6px 0;
    position: absolute;
    border-radius: var(--border-radius);
    box-shadow: 0 1px 3px 0 var(--border);
    border: 1px solid var(--border);
    background: var(--white);
}

.item {
    padding: 10px 16px;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

.item:hover {
    background: var(--border);
}

@keyframes growDown {
    0% {
        transform: scaleY(0);
    }
    80% {
        transform: scaleY(1.1);
    }
    100% {
        transform: scaleY(1);
    }
}

@keyframes growUp {
    100% {
        transform: scaleY(1);
    }
    80% {
        transform: scaleY(1.1);
    }
    0% {
        transform: scaleY(0);
    }
}
