.wrapper {
    position: relative;
    width: 100%;
}

.label {
    display: flex;
    margin-bottom: 8px;
}

.input {
    outline: none;
    background: #ededff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 226px;
    padding: 13px 16px;
    padding-right: 45px;
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 #c9cdd2;
    border: 1px solid #c9cdd2;
    line-height: 20px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    color: #6f7786;
}
.btn{
    background: none;;
    width: 100%;
    border: none;
}
.arrow {
    position: absolute;
    right: 20px;
    top: 24px;
    transform: translateY(-50%);
    pointer-events: none;
}

.list {
    z-index: 2;
    width: 100%;
    margin-top: 8px;
    padding: 6px 0;
    position: absolute;
    border-radius: 8px;
    border: 1px solid #dbdcde;
    background: var(--white);
}

.item {
    padding: 10px 16px;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

.item:hover {
    background: #dbdcde;
}

.menuOption {
    padding: 10px 16px;
    cursor: pointer;
    line-height: 20px;
    font-weight: 600;
    font-size: 16px;
    transition: 0.3s;

}

.menuOption[data-active='true'] {
    background: rgba(47, 43, 67, 0.05);
}

.menuOption:hover {
    background: rgba(58, 53, 65, 0.3);
    color: var(--white);
}

.menuOption:active {
    background: #89868d;
}

.selectedOption {
    background: #ededff;
    color: #6f7786;
}

@keyframes growDown {
    0% {
        transform: scaleY(0);
    }
    80% {
        transform: scaleY(1.1);
    }
    100% {
        transform: scaleY(1);
    }
}

@keyframes growUp {
    100% {
        transform: scaleY(1);
    }
    80% {
        transform: scaleY(1.1);
    }
    0% {
        transform: scaleY(0);
    }
}
