.footer {
    width: 100%;
    display: flex;
    padding: 77px 90px;
    align-items: center;
    justify-content: space-between;
    height: 201px;
    color: var(--brown);
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.networks {
    display: flex;
    align-items: center;
    gap: 18px;
}