.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal_content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 890px;
    max-height: 80vh;
    overflow-y: auto;
}

.modal_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--black);
    padding: 29px 33px 15px 33px;
}

.close_icon {
    width: 37px;
    height: 37px;
    cursor: pointer;
}

.title {
    color: var(--black);
    font-size: 35px;
    margin: 0;
}