.container {
    width: 100%;
    padding: 0 104px;
    display: flex;
    flex-direction: column;
}


.events_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 150px;
}
.events_list::after{
    content: "";
    width: 335px;
    height: 0;
    margin-top: 60px;
    text-align: center;
}
.table{
    margin-bottom: 150px;
}
.menu {
    display: flex;
    margin-bottom: 75px;
}


.menu_add_btn {
    padding: 10px;
    border-radius: 5px;
    background-color: var(--white2);
    border: none;
    width: 50px;
    position: relative;
    cursor: pointer;
}

/* Горизонтальная линия плюса */
.menu_add_btn::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 27px;
    height: 2px;
    background: #7F7F7F;
    transform: translate(-50%, -50%);
}

/* Вертикальная линия плюса */
.menu_add_btn::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 2px;
    height: 27px;
    background: #7F7F7F;
    transform: translate(-50%, -50%);
}

.filters {
    padding-bottom: 50px;
    display: flex;
    gap: 34px;
    width: 50%;
}
.dropdown{
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.15), 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}