.container{

}
.form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 322px;

}
.form_body{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 725px;
}
.header{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 30px;
    padding: 15px 0;
}
.btn{
    margin-bottom: 115px;
    align-self: center;
}